* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    background: none;
    box-sizing: border-box;

  }

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.textoBemVindo{
    color: aliceblue;
    margin: 10px;

}
.buttoStart{

    background-color: aliceblue;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}